<div class="scrollable">
  <div class="scrollable-content">
    <div class="section">
      <div class="container">
        <div ng-repeat="device in devices">
          <div class="panel panel-default">
          	<div class="panel-heading">Plug</div>
            <div class="panel-body panel-plug" href="#/showPlug" ng-click="showPlug(device.id)">
              <div>
              <h3 style="display: inline">{{device.name}} - {{device.id.toString().substring(device.id.toString().length-4)}}</h3>
              <i class="fa fa-minus-circle fa-lg" style="display: inline; float: right" ng-click="delPlug(device.id, $event)"></i>
              <div>
            </div>
          </div>
        </div>
        <h3 ng-if="(devices.length == 0)" style="text-align: center;">No Device</h3>
      </div>
    </div>
  </div>
</div>
