<div ui-content-for="title">
  <span>Plug</span>
</div>

<div class="btn-group pull-left" ui-content-for="navbarLeft">
  <div class="btn btn-navbar btn-icon-only">
    <a href="#/"><i class="fa fa-chevron-left fa-navbar"></i></a>
  </div>
</div>

<div class="btn-group pull-right" ui-content-for="navbarRight">
</div>

<div class="scrollable">
  <div class="scrollable-content">
    <div class="section ">
      <div class="container">

        <p ui-shared-state id="lightbulb"
            ui-class="{'text-primary': false}" 
               class="text-default">

          <i class="fa fa-lightbulb-o"></i>
        </p>

        <div class="btn-group justified nav-tabs">
          <a  
            ng-hide="noConnection"
            ui-turn-on="lightbulb"
            ui-class="{'active': lightbulb}"
            class="btn btn-default" href ng-click="plugTurnOn()">
              Turn On
          </a>
          <a  
             ui-turn-off="lightbulb"
             ui-class="{'active': !lightbulb}"
             class="btn btn-default" href ng-click="plugTurnOff()">
              Turn Off
          </a>       
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>


