<div ui-content-for="title">
  <span>Rules</span>
</div>

<div ng-controller="ctrlRules">

  <div class="btn-group pull-right" ui-content-for="navbarRight">
      <div ng-click="showAddRules()" class="btn sidebar-right-toggle navbar-font">
          <i class="fa fa-plus navbar-font"></i> Add
      </div>
  </div>

  <div class="scrollable">
    <div class="scrollable-content">
      <div class="section">
        <div class="container">
            <div ng-repeat="rule in rules">
              <div class="panel panel-default">
              	<div class="panel-heading panel-head-plug">Rule</div>
                <div class="panel-body panel-cursor" href="#/showRule" ng-click="showRule(rule.id)">
                  <div>
                    <h3 style="display: inline">{{rule.alias}}</h3>
                    <i class="fa fa-minus-circle fa-lg" ng-click="delRule(rule.id, $event)"></i>
                  </div>
                </div>
              </div>
            </div>
            <h3 ng-if="(rules.length == 0)" style="text-align: center;">No Rule</h3>

        </div>
      </div>
    </div>
  </div>

</div>