.app-content-loading {
  text-align: center;
  height: 100%;
  width: 100%;
  background: #fff;
  position: relative;
}

.loading-spinner {
  position: absolute;
  font-size: 50px;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
}

.panel-add {
   height: 15rem; 
   padding-top: 3rem;
   font-size: 3rem;
   text-align: center;
   margin: 2px;
   cursor: pointer;
}

.panel-plug {
   cursor: pointer;
}

.panel-add:active {
  background-color: #dfdfdf !important;
}

.panel-plug:active {
  background-color: #dfdfdf !important;
}

#addModal {
	top:20%;
	right:center;
}

#btnModalOk{
 width: 30%;
}

#lightbulb {
  font-size: 100px;
  display: block;
  text-align: center;
}