.navbar{
  background: #EF0C1D;
  color: #ffffff !important;
}

.navbar-font{
  color: #ffffff !important;; 
}

.fa-minus-circle{
  color : #ff0000;
  display: inline; 
  float: right;
}

.app-content-loading {
  text-align: center;
  height: 100%;
  width: 100%;
  background: #fff;
  position: relative;
}

.app-main{
  height: 100%;
  width: 100%;
  overflow: hidden; 
}

.app-body {
  height: 100%;
  width: 100%;
  background: #fff;
  position: relative;
}

.loading-spinner {
  position: absolute;
  font-size: 50px;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
}

.panel-default{
  box-shadow: 0 3px 6px rgba(0,0,0,0.19), 0 2px 2px rgba(0,0,0,0.23);
 }

.panel-add {
  height: 15rem; 
  padding-top: 3rem;
  font-size: 3rem;
  text-align: center;
  margin: 2px;
}

.panel-cursor {
  cursor: pointer;
}

.panel-cursor:active {
  background-color: #dfdfdf !important;
}

.panel-head-plug {
  background: #afafff !important; 
}

.panel-head-switch {
  background: #afffaf !important;
}

.panel-head-ble-plug {
  background: #ffafaf !important;
}

#addModal {
  height: 100%;
	top: 20%;
}

#btnModalOk{
 width: 30%;
}

#lightbulb {
  font-size: 100px;
  display: block;
  text-align: center;
}

#powerOff {
  font-size: 100px;
  display: block;
  text-align: center;
}