.panel {
   height: 15rem; 
   padding-top: 3rem;
   font-size: 3rem;
   text-align: center;
   margin: 2px;
}

.panel:active {
  background-color: #dfdfdf !important;
}

#addModal {
	top:20%;
	right:center;
}

#btnModalOk{
 width: 30%;
}